{
    "parser": "babel-eslint",
    "env": {
        "jest": true,
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "linebreak-style": "off",
        "comma-dangle": "off",
        "require-jsdoc": "off",
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "operator-linebreak": "off",
        "no-debugger": "off",
        "no-case-declarations": "off",
        "space-before-function-paren": "off"
    },
    "extends": ["eslint:recommended", "google"]
}
