@import 'variables';
@import 'mixins';

.excel {
    &__header {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: $header-height;
        padding: 8px 4px 0;
        display: flex;
        justify-content: space-between;
    }

    &__input-title {
        margin: 0;
        padding: 2px 7px;
        color: #000;
        border: 1px solid transparent;
        border-radius: 2px;
        height: 22px;
        font-size: 15px;
        line-height: 22px;
        outline: 0;

        &:hover {
            border: 1px solid $border-color
        }

        &:focus {
            border: 2px solid #00811c;
        }
    }

    &__button {
        @include button();
    }
}