@import 'variables';
@import 'mixins';

.excel {
    &__table {
        position: absolute;
        left: 0;
        right: 0;
        top: $header-height + $toolbar-height + $formula-height;
        overflow-x: auto;
        padding-bottom: 2px;
    }
    
    &__row {
        display: flex;
        min-height: 20px;
        height: $row-height;
    }

    &__row-info {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $info-cell-width;
        height: 100%;
        border: 1px solid $border-color;
        background: #f8f9fa;
        border-top: none;
    }

    &__row-data {
        display: flex;
    }

    &__column {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f8f9fa;
        min-width: 40px;
        width: $cell-width;
        border: 1px solid $border-color;
        height: 100%;
        border-top: none;
        border-left: none;
    }

    &__cell {
        min-width: 40px;
        width: $cell-width;
        padding: 5px; 
        height: 100%;
        border: 1px solid #e2e3e3;
        border-top: none;
        border-left: none;
        color: #111;
        white-space: nowrap;
        outline: none;

        &.selected {
            border: none;
            outline: 2px solid #3c74ff;
            z-index: 2;
        }
    }

    &__row-resize, &__col-resize {
        position: absolute;
        bottom: 0;
        right: 0;
        background: #3c74ff;
        opacity: 0;
        z-index: 1000;

        &:hover {
            opacity: 1!important;
        }
    }
    
    &__col-resize {
        top: 0;
        width: 4px;

        &:hover {
            cursor: col-resize;
        }
    }

    &__row-resize {
        left: 0;
        height: 4px;

        &:hover {
            cursor: row-resize;
        }
    }
}